[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
python-dotenv = "*"
pandas = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-rest-swagger = "*"
drf-yasg = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
