<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="API to get Useless Facts to share with your friends, create a bot, or maybe a new usecase!">
    <meta name="keywords"
        content="API, api, uselessfacts, USELESSFACTS, uselessfacts api, USELESSFACTS API, Uselessfacts api, python, Python, django, Django, rest api, REST API">
    <meta name="author" content="Kaushal Sharma">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
</head>

<body>
    {% block content %}

    {% endblock content %}
</body>

</html>